*~
\#*\#
.\#*
/.benchmark
/.cache/
/.coverage
/.coverage-*
/coverage*.xml
/debian/
/dist/
/doc/build/
*.egg-info/
/output*/
*.pyc
.pyenv
.python-version
__pycache__
/.venv/
/.venvs/
/.vagrant/

/.idea/

/znail/version.py

docker/markers/*marker

/build/
geckodriver.log
.vscode
.pytest_cache
