[Unit]
Description=Update the /etc/network/interfaces file.
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/update-network-interfaces
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
