{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <h1>About</h1>
    <hr/>
    <p>Znail can be used to emulate various network conditions and can manipulate the flow of packets on the network.</p>
    <p>Znail is operated using this user interface, or its <a href="/api/swagger">API</a>.</p>
    <hr/>
    <div class="mermaid" style="width=100%; height=400px; align: center;">
        graph LR
        network --- eth0
        subgraph network-emulator
        eth0 --- br0
        br0 --- eth1
        end
        eth1 --- sut
    </div>
    <p>To be able to affect network behaviour, Znail is connected to the <abbr title="System Under Test">SUT</abbr> and the network that the <abbr title="System Under Test">SUT</abbr> should access is connected to Znail. In this configuration, Znail effectively acts as a network switch.</p>
    <p>To manipulate network packets, Znail makes use of a collection of standard Linux tools:</p>
    <ul>
        <li>iptables is used to direct traffic flow
            <ul>
                <li><a href="http://ipset.netfilter.org/iptables.man.html">iptables</a></li>
            </ul>
        </li>
        <li>tc, netem and tc-tbf are used to emulate network conditions.
            <ul>
                <li><a href="http://man7.org/linux/man-pages/man8/tc.8.html">tc</a></li>
                <li><a href="http://man7.org/linux/man-pages/man8/tc-netem.8.html">netem</a></li>
                <li><a href="https://linux.die.net/man/8/tc-tbf">tc-tbf</a></li>
            </ul>
        </li>
    </ul>
    </p>
</div>
<script>mermaid.initialize({startOnLoad:true});</script>
{% endblock %}
