{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <h1>Network Disconnect</h1>
    <hr/>
    <p>Emulates the scenario where the network cable of the device under test is disconnected.</p>
    <p>This is done by powering down the device-facing network adapter.</p>
    <hr/>
    {% if method == 'POST' %}
    {% if success %}
    <div class="alert alert-success" role="alert">
        The changes were applied successfully!
    </div>
    {% else %}
    <div class="alert alert-danger" role="alert">
        The changes could <strong>not</strong> be applied.<br/>
        The server responded: {{message}}
    </div>
    {% endif %}
    {% endif %}
    <form class="form-inline" action="/network_disconnect" method="post">
        <div class="input-group mb-2 mr-sm-2">
            {% if network_disconnect %}
            <button type="submit" id="submit" class="btn btn-primary mb-2">Reconnect Network</button>
            {% else %}
            <button type="submit" id="submit" class="btn btn-primary mb-2">Disconnect Network</button>
            {% endif %}
        </div>
    </form>
    <hr/>
</div>
{% endblock %}
