{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <h1>Packet Reordering</h1>
    <hr/>
    <p>Emulates poor network conditions by reordering a percentage of all incoming packets.</p>
    <p>Packets are reordered by delaying all packages a fixed amount, while sending a percentage of them immediately.</p>
    <hr/>
    {% if method == 'POST' %}
    {% if success %}
    <div class="alert alert-success" role="alert">
        The changes were applied successfully!
    </div>
    {% else %}
    <div class="alert alert-danger" role="alert">
        The changes could <strong>not</strong> be applied.<br/>
        The server responded: {{message}}
    </div>
    {% endif %}
    {% endif %}
    <form class="form-inline" action="/packet_reordering" method="post">
        <div class="input-group mb-2 mr-sm-2">
            {% if milliseconds %}
            <input type="number" id="milliseconds" class="form-control" style="text-align:right;" name="milliseconds" value="{{milliseconds}}"/>
            {% else %}
            <input type="number" id="milliseconds" class="form-control" style="text-align:right;" name="milliseconds"/>
            {% endif %}
            <div class="input-group-append">
                <div class="input-group-text">milliseconds</div>
            </div>
            {% if percent %}
            <input type="number" id="percent" class="form-control" style="text-align:right;" name="percent" step="any" value="{{percent}}"/>
            {% else %}
            <input type="number" id="percent" class="form-control" style="text-align:right;" name="percent" step="any" placeholder="Example: 0.1"/>
            {% endif %}
            <div class="input-group-append">
                <div class="input-group-text">percent</div>
            </div>
        </div>
        <button type="submit" id="submit" class="btn btn-primary mb-2">Apply</button>
        <button type="clear" id="clear" onclick="document.getElementById('milliseconds').value = null; document.getElementById('percent').value = null;" class="btn btn-primary mb-2 ml-1">Clear</button>
    </form>
    <h5>Examples</h5>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Description</th>
                <th>Values</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {%- for item in examples -%}
            <tr>
                <td>{{item.description}}</td>
                <td>{{item.ms}} ms, {{item.percent}}%</td>
                <th>
                    <form class="form-inline" action="/packet_reordering" method="post">
                        <input type="hidden" id="example_milliseconds_{{item.ms}}" class="form-control" style="text-align:right;" name="milliseconds" value="{{item.ms}}"/>
                        <input type="hidden" id="example_percent_{{item.percent}}" class="form-control" style="text-align:right;" name="percent" step="any" value="{{item.percent}}"/>
                        <button type="submit" id="submit_default_{{item.ms}}_{{item.percent}}" style="border: none;" class="badge badge-pill badge-primary no-border">Apply</button>
                    </form>
                </th>
            </tr>
            {% endfor -%}
        </tbody>
    </table>
</div>
{% endblock %}
